h1 {
    font-size: 3em;
}
.detalle {
    border: solid red 1px;
    height: 150px;
}
nav a {
    color: #424242 !important;
}
.usuario {
    -webkit-margin-before: 0 !important;
    display: inline-block;
}
#numeroChallenge {
    font-size: 1.8em;
}
.areaResultados {
    min-height: 700px;
}
.operadores{
  font-size: 1.2em;
}
.numeroVariable, .resultado{
  text-align: center;
}
.resultado{
  font-weight: bold;
}
